.notification {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    padding: 2em;
    background: linear-gradient(to bottom, #e488b1, #6c0f4f);
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .notification svg{
    color: #e488b1;
    fill: #6c0f4f;
    margin: 1em;
    width: 20px;
  }
  .notification.active {
    transform: translateX(0);
  }
  @media (max-width: 768px) {
    .notification{
        width: 80%;
    }
  }